#Virtual Environment Setup
project=sbenv

VIRTENV=""
if [ "$VIRTUAL_ENV" ]; then
    VIRTENV="--virtualenv $VIRTUAL_ENV"
else
    ACTIVATE=~/.virtualenvs/${project}/bin/activate
    source $ACTIVATE
    if [ "$VIRTUAL_ENV" ]; then
        VIRTENV="--virtualenv $VIRTUAL_ENV"
    else
        echo Error activating virtual env $ACTIVATE, aborting...
        exit 1
    fi
fi
